.page__container-fluid{
    .page__header{
        margin: 0 px2rem(-15) px2rem(24) px2rem(-15);
    }
}
.header{
    background-color: $light-gray;
    box-shadow: 0 px2rem(5) px2rem(5) 0 rgba(0, 0, 0 , 0.15);
    @include flexbox;
    @include flex-flow(row nowrap);
    padding: px2rem(16) px2rem(24);
    .left-arrow{
        flex: 0 0 8.33%;
        max-width: 8.33%;
        padding-right: px2rem(5);
        padding-left: px2rem(5);
        @include lg {
            padding-right: px2rem(15);
            padding-left: px2rem(15);
        }
    }
    .logo{
        flex: 0 0 80.333333%;
        max-width: 80.333333%;
        padding-right: px2rem(10);
        padding-left: px2rem(10);
        @include lg {
            padding-right: px2rem(15);
            padding-left: px2rem(15);
        }
    }
    .cancel-icon{
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
        padding-right: px2rem(5);
        padding-left: px2rem(5);
        @include lg {
            padding-right: px2rem(15);
            padding-left: px2rem(15);
        }
    }
}
