.page__container-fluid{
    padding: px2rem(16) px2rem(24);
    margin: 0 px2rem(-15) px2rem(24) px2rem(-15);
}
.header{
    background-color: $light-gray;
    box-shadow: 0 px2rem(5) px2rem(5) 0 rgba(0, 0, 0 , 0.15);
}
