.bg_green{
    background-color: $light-green-two;
}
.bg_light-green{
    background-color: $light-green;
}
.clr_light-green{
    color: $light-green;
}
.bg_blue{
    background-color: $dark-blue;
}
.clr_blue{
    color: $dark-blue;
}