.main{
    .main__projects{
        margin-bottom: px2rem(40);
    }
}
.projects{
    .projects-list{
        @include flexbox;
        @include flex-flow(column wrap);
    }
}
.projects__row{
    display: flex;
    flex-flow: row wrap;
    margin-right: px2rem(-15px);
    margin-left: px2rem(-15px);
    .projects__col-figure{
        position: relative;
        min-height: 1px;
        padding-right: px2rem(15px);
        padding-left: px2rem(15px);
        width: 100%;
        @include xl{
            flex: 0 0 25%;
            max-width: 25%;
        }
        @include lg{
            flex: 0 0 33%;
            max-width: 33%;
        }
        @include md{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .projects__col-content{
        position: relative;
        min-height: 1px;
        padding-right: px2rem(15px);
        padding-left: px2rem(15px); 
        width: 100%;
        @include xl{
            flex: 0 0 75%;
            max-width: 75%;
        }
        @include lg{
            flex: 0 0 66%;
            max-width: 66%;
        }
        @include md{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
.projects-list{
    .project-summary{
        @include flexbox;
        @include flex-flow(column wrap);
        margin-bottom: 0.9375rem;
        border: 1px solid $light-gray-two;
        border-radius: px2rem(3);
        @include lg{
            flex-flow: row wrap;
        }
    }
    .project-summary_active{
        border-left: px2rem(6) solid $light-green-two;
        border-radius: px2rem(3);
    }
}
.project-summary{
    .project-detail{
        @include flexbox;
        @include flex-flow(column wrap);
        flex: 1;
        padding: 1rem;
    }
    .project-count{
        padding: .5rem;
        @include flexbox;
        align-items: center;
    }
}

.project-detail{
    .project-name{
        margin-bottom: px2rem(10);
    }
    .project-name__title{
        color: $dark-gray-three;
    }
}

.project-list{
    @include flexbox;
    flex-flow: row wrap;
    color: $dark-gray-three;
    margin-bottom: 0;
    .project-list__item{
        flex: 1;
    }
    .item-one__dot{
        height: px2rem(15);
        width: px2rem(15);
        border-radius: 50%;
        display: inline-block;
        margin-right: px2rem(15);
        vertical-align: bottom;
    }
}
.project-count{
    .project-count__number{
        font-size: px2rem(36);
        color: $white;
    }
}
.short-block{
    .short-block__text{
        font-size: px2rem(12);
        text-align: right;
        color: $dark-gray-three;
    }
}