.main{
    .main__cards{
        margin-bottom: px2rem(40);
    }
}
.cards{
    .cards__element{
        padding: px2rem(20);
        @include md {
            padding: 0;
        }
    }
}
.column-layout{
    @include flexbox;
    @include flex-flow(row nowrap);
    justify-content: center;
}
.element{
    .element__icon{
        @include flexbox;
        flex: 0 0 20%;
        max-width: 20%;
        justify-content: center;
        align-items: center;
        margin-right: px2rem(10);
        @include xl{
            align-items: flex-end;
        }
        @include md{
            flex: 0 0 30%;
            max-width: 30%;
        }
        @include lg{
            flex: 0 0 20%;
            max-width: 20%;
        }
        .element__icon_size{
            height: px2rem(40);
        }
    }
    .info{
        .info__title{
            font-weight: 400;
            color: $dark-gray-two;
            margin-bottom: px2rem(-4);
        }
        .info__des{
            font-size: px2rem(14);
            color: $dark-gray;
        }
    }
}
