.main{
    .main__title{
        padding-top: px2rem(40);
        margin-bottom: px2rem(40);
    }
}
.title{
    .title__heading{
        font-size: px2rem(40);
        font-weight: 300;
        line-height: 1;
        color: $dark-gray-four;
    }
    .title__span{
        font-size: 0.8rem;
        color: $dark-gray;
    }
}
